@import url('https://fonts.googleapis.com/css?family=Tangerine');

body { /*  */
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "tangerine", sans-serif;
  overflow: hidden; /* Prevent body scroll */
  display:flex;
  justify-content: center;
  align-items: center;
}

.parent-container {
  scroll-snap-type: y mandatory; /* Enable vertical mandatory snapping */
  overflow-y: scroll; /* Enable vertical scrolling */
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.full-page-section-01 {
  scroll-snap-align: start; /* Snap to the start of each section */
  height: 100vh; /* Each section takes full viewport height */
  width: 100vw; /* Each section takes full viewport width */
  background-image: url("./img/waterfall_forest_depth-field-view_img_21A9264-web-©Jaclyn-Tanemura-VW-1.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;
  justify-content: center;
  /* Add styling for individual sections */
}

.full-page-section-02 {
  scroll-snap-align: start; /* Snap to the start of each section */
  height: 100vh; /* Each section takes full viewport height */
  width: 100vw; /* Each section takes full viewport width */
  background-image: url("./img/bergreen-photography-13.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;
  justify-content: center;
  /* Add styling for individual sections */
}

.full-page-section-03 {
  scroll-snap-align: start; /* Snap to the start of each section */
  height: 100vh; /* Each section takes full viewport height */
  width: 100vw; /* Each section takes full viewport width */
  background-image: url("./img/21A9506-web-©Jaclyn-Tanemura-VW-5.jpg");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  display:flex;
  justify-content: center;
  /* Add styling for individual sections */
}